<h1>hihihi</h1>
<form action = "/posts/create">
    <p>title</p> 
    <input type="text" name = "input_title">
    <p>content</p> 
    <input  type= "text" name = "input_content">
    <input type="submit" value="제출">
</form>